body {
    height: 100%;
    margin: 0;
}

p.fullname {
    font-size: 40px;
    font-family: "Arial";
    text-align: center;
    font-weight: bold;
}

p.BodyParagraph {
    font-size: 20px;
    font-family: "Arial";
    padding: 25px;
}

a.ValenciaLink {
    font-size: 20px;
    font-family: "Arial";
    color: white;
    padding: 10px;
}

.footer {
    height: 50px;
    width: 100%;
}

footer {
    position: absolute;
    background: #42A5F5;
    color: white;
    line-height: 50px;
    bottom: 0;
  }

#searchbox {
    height: 5vh;
    width: 25vh;
}

.search-container {
    margin: auto;
    width: 50%;
    padding: 100px;
}
.pretty-button {
    background-color: #42A5F5;
    border: none;
    width: 200px;
    height: 40px;
}
.strawberry-container{
    height: 500px;
    width: 500px;
    overflow: scroll;
}