body {
    height: 100%;
    margin: 0;
}

p.fullname {
    font-size: 40px;
    font-family: "Roboto Mono";
    text-align: center;
    font-weight: bold;
    color: white;
}

h2.CryptoHeader {
    font-size: 30px;
    font-family: "Roboto Mono";
    padding: 25px;
    color: white;
}

h2.formHeader {
    font-size: 30px;
    font-family: "Roboto Mono";
    padding: 25px;
    color: black;
}

p.BodyParagraph {
    font-size: 20px;
    font-family: "Roboto Mono";
    padding: 25px;
    color: white;
}

a.ValenciaLink {
    font-size: 20px;
    font-family: "Roboto Mono";
    color: white;
    padding: 10px;
}

a.CryptoLink {
    font-size: 15px;
    font-family: "Roboto Mono";
    color: white;
    padding-left: 50px;
}

.footer {
    height: 50px;
    width: 100%;
}

footer {
    position: absolute;
    background: #42A5F5;
    color: white;
    line-height: 50px;
    bottom: 0;
  }

#searchbox {
    height: 5vh;
    width: 25vh;
}

.search-container {
    margin: auto;
    width: 50%;
    padding: 100px;
}
.pretty-button {
    background-color: #42A5F5;
    border: none;
    width: 200px;
    height: 40px;
}
.strawberry-container{
    height: 500px;
    width: 500px;
    overflow: scroll;
}

table, th, td {
    font-family: "Roboto Mono";
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
    padding: 15px;
    border-spacing: 5px;
  }

div.formbody {
    display: block;
    background-color: rgb(212, 212, 212);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 450px;
    width: 500px;
    font-family: "Roboto Mono";
    border: 1px solid rgb(153, 153, 153);
    border-radius: 10px;
    overflow: scroll;
}